//Cacher Attribut Vehicule couleur
//Cacher Methode Vehicule getCouleur()
//Cacher Methode Vehicule testa(entier)
//Cacher Attribut Train *
//Cacher Methode Train *
//Cacher Relation 3
//Cacher Relation 8
//Multiplicite Vehicule couleur2 0..1
//Multiplicite Bateau couleur *
//Ordre Entite Bateau 1
//Ordre Entite Vehicule 3
//Ordre Relation 1 2
//Ordre Relation 2 2