// Commandes :
// Cacher un attribut : "C A <Entité> <Attribut/*>"
// Cacher une méthode : "C M <Entité> <Méthode/*>"
// Cacher une relation : "C R <Entité> <Entite>"
// Changer la multiplicité d'un attribut : "M <Entité> <Attribut> <Multiplicité>"
// Definir un ordre à une entité : "O E <Entité> <Position>"
// Definir un ordre à une relation : "O R <Entité> <Entité> <Position>"

O E Train 1
//O R Vehicule Vehicule 2