// Usage : <Commande> <Type> <Nom>
//
// <Commande> :
//    C : Commande pour cacher
//
// <Type> :
//    A : Attribut
//    M : Méthode
//    R : Relation
//
// <Nom> :
//    Nom de l'entité souhaitée
//    * utilisable pour toutes les désigner

// Test Commentaire
C A Bateau couleur
C A Vehicule *
C M Vehicule *
C M Train toString()
C M Bateau getVehicule(List<String>)
// Test Commentaire 2
C R Train Bateau
C R Vehicule Voiture *