// Usage : <Commande> <Type> <Nom>
//
// <Commande> :
//    C : Commande pour cacher
//
// <Type> :
//    A : Attribut
//    M : Méthode
//    R : Relation
//
// <Nom> :
//    Nom de l'entité souhaitée
//    * utilisable pour toutes les désigner

//M Classe Attribut 0..1
//private int 		nbVehicule;
M Train nbVehicule 0..5